<article>
  <ul>
    <li>
      {{ post.location }}
    </li>
    <li>
      {{ post.date }}
    </li>
    <li>
      Категория: <a href="{% url 'blog:category_posts' category_slug=post.category %}">
        {{ post.category }}
      </a>
    </li>
  </ul>
  <p>
    {% if truncate_text %}
      {{ post.text|truncatewords:10 }}
    {% else %}
      {{ post.text }}
    {% endif %}
  </p>
  {% if hide_read_more %}
    <a href="{% url 'blog:post_detail' post_id=post.id %}">Читать полный текст</a>
  {% endif %}
</article>